*,
*::before,
*::after {
    box-sizing: border-box;
}

/* custom properties, update these for your own design */

:root {
    --ff-primary: 'Lora', serif;
    --ff-secondary: 'Shadows Into Light', cursive;

    --fw-reg: 5;
    --fw-bold: 700;

    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #16e0bd;

    --fs-h1: 2.50rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15);

    scrollbar-width: none !important;
}

@media (min-width: 700px){
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/* General styles */

html {
    scroll-behavior: smooth;
    /* overflow: scroll; */
}

/* ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
} */

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
    cursor: url('../img/navbar/rocket.cur'), pointer;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
  }

/* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;
    /* IE and Edge */
}

img {
    display: block;
    max-width: 100%;
}

strong {
    font-weight: var(--fw-bold);
}

section {
    padding: 0.5em 2em 1.5em 2em;
}

:focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}

@media (min-width: 700px) {
    section  {
        padding: 5.5em 2em 1.5em 2em;
    }
}

/* Buttons */

.btn {
    display: inline-block;
    padding: .5em 2.5em;
    background: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: inherit;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
}

/* Typography */

h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }

.section__title {
    margin-bottom: .20em;
    margin-top: 2em;
}

.section__title--intro {
    font-weight: var(--fw-reg);
    color: var(--clr-light);
}

.section__title--intro strong {
    display: block;
}

.section__subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}

.section__subtitle--about,
.section__subtitle--intro,
.section__subtitle--services,
.section__subtitle--skills {
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
    padding: .25em 0;
    color: var(--clr-accent);
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
}

header a:focus {
    outline: none;
}

.logo {
    max-width: 150px;
}

nav {
    position: fixed;
    background: var(--clr-dark);
    color: var(--clr-light);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;

    transform: translateX(100%);
    transition: 0.3s;

}

.nav__list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav__list i {
    font-size: var(--fs-h2);
}

.nav__list i:hover {
    color: var(--clr-accent);
}

.nav__link {
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h2);
    text-decoration: none;
    cursor: inherit;
}

.alien__link {
    font-size: var(--fs-h2);
}

.nav__link:hover {
    color: var(--clr-accent);
}

.nav-toggle {
    padding: 0;
    background: transparent;
    border: 0;
    cursor: inherit;
    position: absolute;
    right: 2em;
    top: 1.5em;
    z-index: 1000;
}

.nav-open .nav {
    transform: translateX(0);
}

.hamburger,
.alien-language {
    display: block;
    margin-left: 26px;
}

#iconToToggle,
#alienToToggle {
    color: var(--clr-accent);
    font-size: 40px;
    margin-left: 10px;
}

header button:focus {
    outline: 0;
}

.alien {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    background: var(--clr-dark);
    color: var(--clr-light);
    overflow-x: hidden;
    transition: 0.3s;
    right: 0;
    bottom: 0;
}

.alien-toggle {
    padding: 0;
    background: transparent;
    border: 0;
    cursor: inherit;
    position: absolute;
    top: 1.5em;
    z-index: 1000;
}

.alien__list {
    width: 100%;
    height: 70%;
    margin-top: 30%;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.alien__list a {    
    text-decoration: none;
    font-size: 36px;
    color: var(--clr-accent);
    display: block;
    transition: 0.3s;        
}

.alien__link {
    cursor: inherit;
}

.alien-open {
    width: 100% !important;
}

@media (min-width: 700px) {
    .alien,
    nav {
        transition: 0.5s;
    }

    .nav-toggle,
    .alien-toggle {
        position: fixed;
    }

    .alien__list{
        display: flex;
        height: 100%;
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    .alien__list a {
        padding: 8px;
    }
}


/* Intro section */

.intro {
    background-color: var(--clr-dark);
    background-image: url(../img/intro/cover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    overflow: hidden;
    position: relative;
    width: 100%;

    /* debug */
    /* border: 3px dotted red; */
}

section .star {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* bottom: calc(100% - 433px); */
    /* TODO replace with jquery library */

    animation: animate 8s ease-in-out infinite,
                backgroundmove 16s linear infinite;

    /* debug */
    /* border: 0.5px solid green; */
}

.intro .star.star1 {
    animation-delay: 0s;
    background: url(../img/intro/background/star1.png);
}

.intro .star.star2 {
    animation-delay: -1s;
    background: url(../img/intro/background/star2.png);
}

.intro .star.star3 {
    animation-delay: -2s;
    background: url(../img/intro/background/star3.png);
}

.intro .star.star4 {
    animation-delay: -3s;
    background: url(../img/intro/background/star4.png);
}

.intro .star.star5 {
    animation-delay: -4s;
    background: url(../img/intro/background/star5.png);
}

.intro .star.star6 {
    animation-delay: -5s;
    background: url(../img/intro/background/star6.png);
}

.intro .star.star7 {
    animation-delay: -6s;
    background: url(../img/intro/background/star7.png);
}

.intro .star.star8 {
    animation-delay: -7s;
    background: url(../img/intro/background/star8.png);
}

@keyframes animate {
    0%, 20%, 40%, 60%, 80%, 100% 
    {
        opacity: 0;
    }

    10%, 30%, 50%, 70%, 90%
    {
        opacity: 1;
    }
}

@keyframes backgroundmove {
    0% 
    {
        transform: scale(1);
    }

    100% 
    {
        transform: scale(2);
    }
}

.intro img {
    width: 60%;
    margin: 0 auto;
    height: auto;
}

.intro__container {
    margin: 0 auto;

}

.section__title--intro {
    /* background-color: yellowgreen; */

    text-align: center;
}


.section__subtitle--intro {
    /* color: var(--clr-light); */
    /* background-color: orange; */

    text-align: center;
}

.section__subtitle--intro h3 {
    font-size: 1.75em;
}

@media (min-width: 700px) {

    .intro__container {
        width: 60%;
        margin: 0 0 0 27%;

        /* Grid properties */
        display: grid;
        grid-template-columns: 25% 75%;
        column-gap: 5em;
        grid-template-rows: 50% 50%;
        grid-template-areas:
            "img title"
            "img subtitle";
    }

    .intro__img {
        /* Grid properties */
        min-width: 200px;
        height: auto;
        grid-area: img;

        margin-bottom: 1em;
    }

    .intro__img img {
        width: 100%;
    }

    .section__title--intro {
        /* Grid properties */
        grid-area: title;
        align-self: flex-end;

        text-align: unset;
    }

    .section__subtitle--intro {
        /* text-align: right;         */
        /* height: fit-content; */
        /* overflow: hidden; */
        margin-top: 2%;
        text-align: unset;
        /* Grid properties */
        grid-area: subtitle;
    }
}

/* My Services section */

.my-services {    
    color: var(--clr-light);
    text-align: center;
    
    background: 
        url(../img/services/services-01.jpg) no-repeat center center;
    background-color: var(--clr-dark);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-blend-mode: multiply;

}

.section__title--services {
    /* color: var(--clr-accent);
    position: relative; */

    color: var(--clr-light);
}

.section__title--services::after {
    content: '';
    display: block;
    width: 2em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-light);
    /* background: currentColor; will match the same color as the element related to it*/
    opacity: 0.25;
}

.services p::selection {
    color: var(--clr-accent);
}

.services h3::selection {
    color: var(--clr-accent);
}

.services p::-moz-selection {
    color: var(--clr-accent);
}

.services h3::-moz-selection {
    color: var(--clr-accent);
}

.service {
    max-width: 500px;
    margin: 0 auto;
}

.service p {
    text-align: justify;
}

.service h3 {
    text-align: left;
}

@media (min-width: 700px) {
    .services {
        display: flex;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

    .service + .service { /* the + annotation will ignore the first element and take into account only the sibling items. in this case the space between the first-second and second-third */
        margin-left: 2em;
    }
}

/* About me */

.about-me {
    margin: 0 auto;

    background-color: var(--clr-dark);
    color: var(--clr-light);
}

.about-me p {
    text-align: justify;
}

.about-me__container p::selection {
    color: var(--clr-accent);
}

.about-me__container p::-moz-selection {
    color: var(--clr-accent);
}

.about-me__final img {
    display: inline;
    vertical-align: text-bottom;
}

@media (min-width: 700px) {

    .about-me__container {
        width: 55%;
        margin: 0 auto;

        /* Grid properties */
        display: grid;
        grid-template-columns: [first] 48% [second] 4% [third] 48% [fourth];
        grid-template-areas:
            "content . img"
            "content . img"
            "content . final";
    }

    .section__title--about {
        grid-area: title;
        padding: .25em 0;
        margin-top: 0px;
    }

    .about-me__content{
        padding: 0px;
        margin: 0px;

        grid-area: content;
    }

    .about-me__img {
       grid-area: img;
       height: 100%;
       margin-top: 1em;
    }

    .about-me__final {
        grid-area: final;
    }
}

/* My Slikks */

.my-skills {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    text-align: center;
    padding: 0.5em 0;
}

.portfolio {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(155px, 1fr));
}

.portfolio__item {
    margin: 3em auto;
    overflow: hidden;

    /* Grid properties */
    display: grid;
    grid-template-columns: [first] 150px [second];
    grid-template-rows: [first] 160px [second] 40px [third];
    grid-template-areas:
        "img"
        "stars";
}

.portfolio__img {
    transition:
        transform 750ms cubic-bezier(.5, 0, .5, 1),
        opacity 250ms linear;
    height: 150px;
    border-radius: 75px;

    /* Grid properties */
    grid-area: img;
}

.portfolio__img a {
    cursor: inherit;
}

.portfolio__stars {

    /* Grid properties */
    grid-area: stars;
    align-self: center;
}

.portfolio__item:focus {
    position: relative;
    z-index: 2;
}

@media (min-width: 700px){

    .portfolio {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}

/* Footer */

.footer {
    background-color: #111;
    color: var(--clr-accent);
    text-align: center;
    padding: 2.5em 0;
    font-size: var(--fs-h3);
}

.footer a {
    color: inherit;
    text-decoration: none;
}

.footer__link {
    font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover {
    opacity: .7;
}

.footer__link:hover {
    text-decoration: underline;
}

.footer__link,
.social-list__link {
    cursor: inherit;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
}

.social-list a:focus {
    outline: none;
}

.social-list__item {
    margin: 0 .5em;
    font-size: 30px;
}

@media (min-width: 700px){
    .social-list__item a {
        display: inline-block;
        position: relative;
        z-index: 1;
        padding-left: 2em;
        padding-top: 0;
        margin-top: 0;
        margin-left: -2em;
    }
    
    .social-list__link {
        padding: .5em;
    
    }
}


/* Individual portfolio item styles */

.portfolio-item-individual {
    padding: 0 2em 2em;
    max-width: 1000px;
    margin: 0 auto;
}

.portfolio-item-individual p {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}